{% block element_collection_form %}
    <form action="{{ path('frontend.form.package_collection.send') }}"
          method="post"
          data-form-csrf-handler="true"
          data-form-validation="true">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ "collectionForm.labels.salutation" | trans }}</label>
                    <select class="custom-select" name='salutationId' required>
                        {% for salutation in element.data.salutation.elements %}
                            <option value="{{ salutation.id }}">{{ salutation.displayName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ "collectionForm.labels.name" | trans }}</label>
                    <input type="text" name="name" class="form-control" required/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ "collectionForm.labels.email" | trans }}</label>
                    <input type="text" name="email" class="form-control" required/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ "collectionForm.labels.phone" | trans }}</label>
                    <input type="text" name="phone" class="form-control" required/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>{{ "collectionForm.labels.address" | trans }}</h5>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ "collectionForm.labels.street" | trans }}</label>
                    <input type="text" name="street" class="form-control" required/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ "collectionForm.labels.city" | trans }}</label>
                    <input type="text" name="city" class="form-control" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ "collectionForm.labels.zip_code" | trans }}</label>
                    <input type="text" name="zip_code" class="form-control" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ "collectionForm.labels.collection_date" | trans }}</label>
                    <input type="date" name="collection_date" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>{{ "collectionForm.labels.packages" | trans }}</h5>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-11 packages-first">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ "collectionForm.labels.package_type" | trans }}</label>
                                    <select class="custom-select" name="package_type[]" required>
                                    <option value="">{{ "collectionForm.labels.select_package_type" | trans }}</option>
                                    {% for package in element.data.packages.elements %}
                                        <option value="{{ package.id }}">{{ package.name }} ({{ package.height }}x{{ package.width }}x{{ package.length }})</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ "collectionForm.labels.quantity" | trans }}</label>
                                    <input type="text" name="quantity[]" class="form-control" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-primary mt-4 add-more">+</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="additional-packages">

                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary mt-4" type="submit">{{ "collectionForm.labels.submit" | trans }}</button>
            </div>
        </div>
    </form>
{% endblock %}